<div class="my-form bg-dark">
  <h1>Login Form</h1>
  <form>
    <div class="mb-3 mt-4">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
        [(ngModel)]="model.email">
    </div>
    <div class="mb-3 mt-4">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1"
        [(ngModel)]="model.password">
    </div>
    <button type="button" (click)="login()" class="btn btn-light mt-3">LOGIN</button>
  </form>
  <p class="mt-4">Not a member? <a href="#">Signup now</a></p>
</div>